
/* 整体 */
/* body {
    font-family: Arial, sans-serif;
  } */

/* 歌单以外 */
#wala_pic1 {
    /* display: block; */
    max-width: 200px;
    height: auto;
    /* margin: 0 auto; */
}

/* 歌单的歌名排版（横向） */
#one-word-list {
    width: 10%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
  }

#two-word-list {
    width: 10%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
  }

#three-word-list {
    width: 12%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#four-word-list {
    width: 16%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#five-word-list {
    width: 20%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#six-word-list {
    width: 20%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#seven-word-list {
    width: 25%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#eight-word-list {
    width: 25%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#otherNine-word-list {
    width: 33%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#otherTen-word-list {
    width: 32%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#otherEleven-word-list {
    width: 50%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#otherTwelve-word-list {
    width: 50%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#otherThirteen-word-list {
    width: 50%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

#others-word-list {
    width: 100%; /* 让每个li元素占据父元素宽度的50% */
    display: inline-block; /* 让li元素以块级元素的形式水平排列 */
    box-sizing: border-box; /* 让li元素宽度包括padding和border，不会超出指定宽度 */
    padding-bottom: 10px;
}

/* 歌单的歌名排版（纵向） */
.hyu-padding {
    padding-right: 550px;
}

@media (max-width: 768px) {
    #one-word-list {
        width: 10%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #two-word-list {
        width: 13%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #three-word-list {
        width: 18%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #four-word-list {
        width: 22%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #five-word-list {
        width: 30%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #six-word-list {
        width: 50%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #seven-word-list {
        width: 45%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #eight-word-list {
        width: 43%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #otherNine-word-list {
        width: 50%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #otherTen-word-list {
        width: 50%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #otherEleven-word-list {
        width: 100%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #otherTwelve-word-list {
        width: 100%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #otherThirteen-word-list {
        width: 100%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    #others-word-list {
        width: 100%;  /* 在屏幕宽度小于等于768px时，将宽度改为40% */
    }
    .hyu-padding {
        padding-right: 0px;
    }
}



/* 随机歌曲文本框下面会弹出来的提示 */
#message {
    font-size: smaller;
    color: red;
}



